<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupServlet</servlet-name>
        <servlet-class>signupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgot</servlet-name>
        <servlet-class>forgot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>adminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verified</servlet-name>
        <servlet-class>verified</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fdServlet</servlet-name>
        <servlet-class>fdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rdServlet</servlet-name>
        <servlet-class>rdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transferWithinServlet</servlet-name>
        <servlet-class>transferWithinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transferAnotherServlet</servlet-name>
        <servlet-class>transferAnotherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creditCardServlet</servlet-name>
        <servlet-class>creditCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>debitCardServlet</servlet-name>
        <servlet-class>debitCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notVerified</servlet-name>
        <servlet-class>notVerified</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allotCard</servlet-name>
        <servlet-class>allotCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allotDebit</servlet-name>
        <servlet-class>allotDebit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notAllotCard</servlet-name>
        <servlet-class>notAllotCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notAllotDebit</servlet-name>
        <servlet-class>notAllotDebit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>carLoanServlet</servlet-name>
        <servlet-class>carLoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeLoanServlet</servlet-name>
        <servlet-class>homeLoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allotCar</servlet-name>
        <servlet-class>allotCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allotHome</servlet-name>
        <servlet-class>allotHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notAllotCar</servlet-name>
        <servlet-class>notAllotCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notAllotHome</servlet-name>
        <servlet-class>notAllotHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deposit</servlet-name>
        <servlet-class>deposit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>withdraw</servlet-name>
        <servlet-class>withdraw</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupServlet</servlet-name>
        <url-pattern>/signupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgot</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/adminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verified</servlet-name>
        <url-pattern>/verified</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fdServlet</servlet-name>
        <url-pattern>/fdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rdServlet</servlet-name>
        <url-pattern>/rdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transferWithinServlet</servlet-name>
        <url-pattern>/transferWithinServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transferAnotherServlet</servlet-name>
        <url-pattern>/transferAnotherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creditCardServlet</servlet-name>
        <url-pattern>/creditCardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>debitCardServlet</servlet-name>
        <url-pattern>/debitCardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notVerified</servlet-name>
        <url-pattern>/notVerified</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allotCard</servlet-name>
        <url-pattern>/allotCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allotDebit</servlet-name>
        <url-pattern>/allotDebit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notAllotCard</servlet-name>
        <url-pattern>/notAllotCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notAllotDebit</servlet-name>
        <url-pattern>/notAllotDebit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>carLoanServlet</servlet-name>
        <url-pattern>/carLoanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeLoanServlet</servlet-name>
        <url-pattern>/homeLoanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allotCar</servlet-name>
        <url-pattern>/allotCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allotHome</servlet-name>
        <url-pattern>/allotHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notAllotCar</servlet-name>
        <url-pattern>/notAllotCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notAllotHome</servlet-name>
        <url-pattern>/notAllotHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deposit</servlet-name>
        <url-pattern>/deposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>withdraw</servlet-name>
        <url-pattern>/withdraw</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
